<% @list_items.each do |item| %>
    <div id="<%= item.venue_id %>">
        ---------------------------------------------------
        <p><%= image_tag(item.user_photo, :alt => item.user_name, :title => item.user_name) %></p>
        <p><%= image_tag(item.venue_photo, :alt => item.venue_name, :title => item.venue_name) %></p>
        <%= item.venue_name %>
        <%= link_to "Add", venues_path(:fs_id => item.venue_id, :photo => item.venue_photo, :name => item.venue_name), :method => :post, :remote => true %>
    </div>
<% end %>

<%= paginate @list_items %>